*{
    padding: 0;
    margin: 0;
}
/* body of the tag */
body{
    background-color: rgb(202, 224, 215);
    display: flex;
    justify-content: center;
    position: relative;
    top: 250px;
}
/* calculator box */
.box{
    width: 320px;
    /* border: 1px solid black; */
    padding: 10px;
    background-color: white;
    box-shadow: 3px 3px 3px black;
    border-radius: 7px;
}
/* inputs */
.box .inp{
    width: 50px;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: antiquewhite;
    margin: 10px 0px 20px 10px;
    box-shadow: 3px 3px 7px black;
    outline: none;

}
span{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}
.box #inp2{
    margin-left: 15px;
}

/* Result */
#result{
    float: right;
    margin-top: 10px;
    background-color: rgb(240, 228, 228);
    padding: 5px 5px 5px 10px;
    position: relative;
    left: -23px;
    width: auto;
    border-radius: 5px;
    width: 70px;
    border: none;
    outline: none;

}
/* buttons */
.btns{
    margin-left: 15px;
    padding: 5px 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: white;
    background-color: black;
    border-radius: 5px;
    
    box-shadow: 3px 3px 3px rgb(182, 182, 182);

}

/* submit button */
#submit{
    margin:15px 15px 5px 15px;
    width: 93%;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    background-color: rgb(105, 245, 40);
    /* text-shadow: 3px 3px 3px white; */
    border-radius: 5px;
    transition: 1s;
}
/* Hovers */
#submit:hover{
    background:linear-gradient(to left , rgb(0, 255, 30),pink,blue);
    transition: 1s;
    
}
.btns:hover{
    background:linear-gradient(to left , rgb(0, 255, 30),pink);
    transition: 1s;
    color: black;
}

/* developer name */
.dev{
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    position: relative;
    bottom: -8px;
}